[Desktop Entry]
Encoding=UTF-8
Name=Proximo-ep
Comment=Garante a sequencia certa de episodios
Exec=/opt/proximo-ep-gui/proximo-ep-gui.sh
Icon=/opt/proximo-ep-gui/img/proximo-ep-gui.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
